body {
    margin: 0;
    font-family: sans-serif;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-size: cover; /* Add this line */
    background-position: center center; /* Add this line */
    background-repeat: no-repeat; /* Add this line */
    background-attachment: fixed; /* Add this line */
}

#hero .profile-img {
    width: 300px;
}

#hero h1 {
    font-size: 3.4em;
    font-family: 'Nunito', sans-serif;
}

section h2 {
    font-size: 2.5em;
    font-family: 'Nunito', sans-serif;
}

section h3 {
    font-size: 1.5em;
    font-family: 'Nunito', sans-serif;
}
section h4 {
    font-size: 1.1em;
    font-family: 'Nunito', sans-serif;
}
.icon {
    width: 100px;
    height: auto;
    margin: 5px 0px;
}
.icons {
    width: 78px;
    height: auto;
    margin: 16px 10px;
}

#hero {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://wallpapers.com/images/hd/kawaii-cute-pictures-eu28a2upk8f81vco.jpg');
}
